<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <form action="/signin" method="POST" class="signin">
        <label for="un">Username: </label>
        <input id="un" type="text" name="username" required autofocus />
        <label for="pw">Password: </label>
        <input id="pw" type="password" name="password" required />
        <input type="submit" />
    </form>
</body>
</html>